<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1-1">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2-1">
                    <match url="^noticias/apagar/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=noticias&amp;a={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3-1">
                    <match url="^banimentos/apagar/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=banimentos&amp;a={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4-1">
                    <match url="^filtrodepalavras/apagar/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=filtrodepalavras&amp;a={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5-1">
                    <match url="^contasip/([\w\d~%.:_\-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=contasip&amp;ip={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6-1">
                    <match url="^editar-noticia/([0-9]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editar-noticia&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7-1">
                    <match url="^editar-usuario/([^/.]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editar-usuario&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8-1">
                    <match url="^quartos/([0-9]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=quartos&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9-1">
                    <match url="^infracoes/apagar/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=infracoes&amp;a={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
